* text=auto eol=lf
*.cmd text eol=crlf
*.ps1 text eol=lf
*.json text eol=lf
*.md text eol=lf
*.2da text eol=lf
*.set text eol=lf
*.mtr text eol=lf
*.txi text eol=lf whitespace=-trailing-space
*.ini text eol=lf
*.shd text eol=lf
*.nss text eol=lf
*.mdl binary
*.plt binary
*.dds binary
*.tga binary
*.bmu binary
*.wav binary
*.wok binary
*.pwk binary
*.dwk binary
*.itp binary
*.ssf binary
*.gui binary
*.ncs binary
*.utc binary
*.uti binary
*.utp binary
*.utd binary
*.ute binary
*.utm binary
*.uts binary
*.utt binary
*.utw binary
*.dlg binary
*.fac binary
*.are binary
*.git binary
*.ifo binary
